{% extends 'base.html' %}

{% block content %}

<div>

    <div class="container-flex">
        <div class="row">
            <div class="col-12 col-md-6 bottom-buffer">
                <div>
                    <p class="header-paragraph">{{ header_search }}</p>
                    <p>{{ text_search }}</p>
                </div>

                <br>

                <div>
                    <p class="header-paragraph">Areas</p>
                    <div>
                        <a class="area-link" href="{% url appname|add:'_list' %}">Show all ...</a>
                        {% for area in areas %}
                        <a class="area-link" href="{% url appname|add:'_list' %}?area={{ area.0 }}">{{ area.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-6 bottom-buffer">
                <div>
                    <p class="header-paragraph">{{ header_add }}</p>
                    <!--p>If you want to upload your own brief paper summary, click on "New Summary".</p-->
                    <p>{{ text_add }}</p>
                    <!--<a class="link-button" href="{% url 'articlesummaries_readbibtex' %}">BibTex</a>-->
                    <a class="link-button" href="{% url appname|add:'_create' %}">{{ text_button }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}