{% extends 'base.html' %}


{% block content %}
<div>
    <form style="width:100%;" id="add-article-summary" method="post" enctype='multipart/form-data'>{% csrf_token %}
        {{ form.as_p }}
        <a class="link-button form-cancel-button" href="javascript:history.back()">Cancel</a>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}
