{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <form id="add-entry" method="post" enctype='multipart/form-data'>{% csrf_token %}
        {{ form.as_p }}   

        {% if appname == 'educationalcontent' %}
        <div class="spacer-div"></div>
        <p><strong>Files and videos can be added after creating the course.</strong></p>
        <div class="spacer-div"></div>
        {% endif %}

        <a class="link-button form-cancel-button" href="javascript:history.back()">Cancel</a>
        <input type="submit" value="Submit">
    </form>
</div>

<!-- JavaScript -->
<script type="text/javascript" src="{% static 'assets/transparency/js/create_areaSelects.js' %}"></script>

{% if appname == 'articlesummaries' or appname == 'projectsummaries' %}
<script type="text/javascript" src="{% static 'assets/transparency/js/create_imageCaption.js' %}"></script>
{% endif %}

{% endblock %}
