/*** COLLAPSE MENU ***/
/* style collapsibles and content for list.html */

/* collapse-header */
.modern-collapsible {
    color: var(--font-color);
    /*border-bottom: none;*/
    border-radius: var(--border-radius);
    margin: 10px 0 0 0;
    width: 100%;
    background-color: transparent;
    text-align: left;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 50%) !important;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

   /*transition: all 0.1s ease-in-out !important;*/
}

/* style if modern-collapsible is collapsed */
.modern-collapsible-active {
    color: var(--zlegreen);

    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;

    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%) !important;
}

/* collapsed content */
.modern-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f1f1f1;
    padding: 0;
    visibility: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* class fot the plus button */
.plus-button-x {
    font-size: 1.5em;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
}

/* prevent the plus button getting pushed over the border of the collapsible */
.plus-button-saver {
    width: 95%;
}

/* further classes for the collapsible */
.view-full-link {
    font-weight: bold;
    margin-top: 20px;
}

.content-padding {
    padding: var(--button-padding);
}



/* only enable hover feature on desktop */
@media (hover: hover) and (pointer: fine) {
    .modern-collapsible:hover {
        color: var(--zlegreen);
        background-color: transparent;
    
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%) !important;
    
        /*transform: scale(1.01);
        transition: 0.1s;*/
    }
}
