/*** LECTURES ***/
/* style lecture-appearance for detail_educationalcontent.html */

/* style of lecture in listing on template */
.lecture {
    border-radius: var(--border-radius);
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
}
