/*** PAGINATOR ***/
/* style the paginator and its elements for list.html */

/* main bar */
.paginator-bar {
    width: 100%;
    text-align: center;
}

/* float "previous" element to the left */
.paginator-previous {
    float: left;
    padding-left: 0 !important;
}

/* float "next" element to the next */
.paginator-next {
    float: right;
    padding-right: 0 !important;
}

/* page number links */
.paginator-current-page, .paginator-pagenum-link {
    padding: 8px 16px;
    border-radius: var(--border-radius);
}

.paginator-current-page {
    background-color: var(--zlegreen);
    color: white;    
}

.paginator-pagenum-link {
    transition: background-color .3s;
}


/* only enable hover feature on desktop */
@media (hover: hover) and (pointer: fine) {
    .paginator-pagenum-link:hover {
        background-color: #eee;
    }
}
