/*** TABLE ***/
/* style the table for listing of the object information for detail.html */


/* first/header column */
.table-first-column {
    color: var(--table-font-color);
    font-weight: bold;
    width: 250px;
}

/* second/information column */
.table-second-column {
    margin-bottom: 10px;
}

/* listing of the areas */
.table-area-listing {
    color: var(--table-font-color);
    float: left;
    margin: 0;
    padding: 0;
}
