{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <!-- description -->
    <p>The goal of Transparency is to process, publish and communicate research and development content to promote a broader and interdisciplinary discussion among all respected types of stakeholders. In addition, it will serve as a foundation to use these processed results in research-oriented teaching and education. Thus, the key service will represent the platform and prospectively the whole energy research sector towards the society and industry. Furthermore, it will serve as the communication channel for distributing this information.</p>

    <!-- app listing -->
    <div class="container-flex">
        <div class="row">
            
            <div class="col-12 col-sm-6 col-lg-3 top-buffer">
                <div class="select-column-element col-md-12">
                    <a href="{% url 'articlesummaries_list' %}?area=all">
                        <img class="select-column-img" src="{% static 'images/transparency/article-summaries.png' %}">
                        <div class="column-text">
                            <h2>Article Summaries</h2>
                            <p>Get the most relevant information of a scientific paper aggregated in brief paper summaries written for beginners as well as for experts or upload your own summaries</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 col-md-offset-2 top-buffer">
                <div class="select-column-element col-md-12">
                    <a href="{% url 'projectsummaries_list' %}?area=all">
                        <img class="select-column-img" src="{% static 'images/transparency/project-summaries.png' %}">
                        <div class="column-text">
                            <h2>Project Summaries</h2>
                            <p>Get an overview of various energy research projects via brief project summaries or upload a summary for your own project</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 col-md-offset-2 top-buffer">
                <div class="select-column-element col-md-12">
                    <a href="{% url 'educationalcontent_list' %}?area=all">
                        <img class="select-column-img" src="{% static 'images/transparency/educational-content.png' %}">
                        <div class="column-text">
                            <h2>Educational Content</h2>
                            <p>Improve your knowledge with educational material such as university lecture slides and recordings or upload your own content using the educational content repository</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 top-buffer">
                <div class="select-column-element col-md-12">
                    <a href="{% url 'forum_list' %}?area=all">
                        <img class="select-column-img" src="{% static 'images/transparency/forum.png' %}">
                        <div class="column-text">
                            <h2>Forum</h2>
                            <p>Discuss all kinds of energy related topics with domain experts and other people interested in the user forum</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="spacer-div"></div>
</div>
{% endblock %}